<Files "config.ini">
<IfModule mod_access_compat.c>
            Order allow,deny
            Deny from all
        </IfModule>
        <IfModule !mod_access_compat.c>
            Require all denied
        </IfModule>
</Files>
